# This file is a template for .env file.
# Please copy this file to .env and edit it.

# --------------------------------------------- #
# Environment variables for docker-compose.yml  #
# --------------------------------------------- #

PROJECT_NAME = ""
PROJECT_VERSION = 0.0.0

# --------------------------------------------- #
# User variables                                #
# --------------------------------------------- #

# User variables
# Get USER_NAME using command: whoami
# Get USER_ID using command: id -u
# Get GROUP_ID using command: id -g
# Get VISION_GROUP_ID using command: getent group vision | cut -d: -f3

USER_ID = 
GROUP_ID =  
USER_NAME = 
VISION_GROUP_ID =  

# --------------------------------------------- #
# DIRs                                          #
# --------------------------------------------- #
HOST_WORKDIR = ""
HOST_DATADIR = ""

# Optional: Change if you want to use a different directory name in the container.
# Default: /app
CONTAINER_WORKDIR = "/app"
CONTAINER_DATADIR = "/data"

# --------------------------------------------- #
# Python                                        #
# --------------------------------------------- #
PYTHON_VERSION = "3.10"

# Optional: Change if you want to use a different directory name in the container.
# Default: /venv
PYTHON_VENV_DIR = "/venv"